

/* html {
  width: 100%;
  height: 100%;
}
*/ 

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-text {
	align-content: center;
	text-align: center; 
	font-weight: bold;
}
/*h2 {
	text-align: center;
	color: black;
}
*/

/* h3 {
	text-align: center;
	color: white;
}
*/



.container-fluid {
	align-content: center;
	justify-content: center:
};

.myCarousel {
justify-content: center;


}

.btn-warning:hover {
background-color: #ee4b08;
border-color: #ee4b08; 
}


.btn {
	font-weight: 100;
	/* text-transform: uppercase;*/	
	border-radius: 300px;
}

.btn-block {
	padding: 1rem 2rem;
	border-color: orange;
} 

 /*#F05F44 */


/* img {
	width: 100%;
	align-content: center; 
} */
